/* Place CSS styles here */
.banner {
    background-color:aqua;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 32px
    position sticky;
    top: 0;
    width: 100%;
    z-index: : 1000;

}